.choice-card {
  background-color: rgb(240, 145, 145);
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 60vh;
  width: 20vw;
  border-radius: 28px;
}
.choice-card-container {
  background-color: rgb(203, 183, 183);
  border-radius: 28px;
}
.card-button {
  height: 100%;
  width: 100%;
  background: none;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}

.img-choice {
  background-color: beige;
  width: 100%;
  border-top: 28px;
}

.first-part-choice {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  height: 50%;
  padding: 1%;
}

.first-input {
  background-color: beige;
  border-radius: 8px;
  padding: 5%;
  width: 40%;
}
.input-style {
  border-radius: 6px;
}

.commentary {
  width: 40%;
}
