.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-img {
  width: 8vh;
  height: auto;
}

.link-container {
  display: flex;
  gap: 3vw;
  font-size: 20px;
}

.connexion-button {
  border: none;
  background-color: rgba(222, 214, 201, 0);
  margin-bottom: 3vh;
  font-size: 20px;
  height: 33px;
  cursor: pointer;
}
.react-link {
  text-decoration: none;
}

.close-button-header {
  display: flex;
  height: 30px;
  width: 24px;
  padding: 5px;
  margin-left: 95%;
  margin-bottom: 5px;
}
